<div>
    <a routerLinkActive="active" routerLink="/login">
        <button mat-raised-button color="primary">Login</button>
    </a>
    <a routerLinkActive="active" routerLink="/register">
        <button mat-raised-button color="primary">Register</button>
    </a>
    <a routerLinkActive="active" routerLink="/home">
        <button mat-raised-button color="primary">Home</button>
    </a>
    <a routerLinkActive="active" routerLink="/friends">
        <button mat-raised-button color="primary">Find Friends</button>
    </a>
</div>
