<h1>Welcome to the Todos Home Page!</h1>
<img [src]="image"/>

<div>
    <label>Show List: </label>
    <input type="checkbox" (click)="checkVisibility()" />
</div>

<div>
    <h2>Todo #{{todos[0].id}}</h2>
    <p>{{todos[0].title}}</p>
    <p>Status: {{todos[0].isCompleted}}</p>
</div>
<div>
    <h2>Todo #{{todos[1].id}}</h2>
    <p>{{todos[1].title}}</p>
    <p>Status: {{todos[1].isCompleted}}</p>
</div>
<div>
    <h2>Todo #{{todos[2].id}}</h2>
    <p>{{todos[2].title}}</p>
    <p>Status: {{todos[2].isCompleted}}</p>
</div>
<div>
    <h2>Todo #{{todos[3].id}}</h2>
    <p>{{todos[3].title}}</p>
    <p>Status: {{todos[3].isCompleted}}</p>
</div>